{% load static %}

{% if position %}
    {% for ad in ads %}
        {% if ad.name == position and ad.active %}
            <div class="text-center my-4">
                {{ ad.code|safe }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- Default Ad Unit if no ad is found -->
<div class="ad-unit">
    <!-- Example Ad Unit -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7684260029366134"
     crossorigin="anonymous"></script>
<!-- Footer Ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7684260029366134"
     data-ad-slot="1301625335"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
